{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envanter Düzenle</title>
</head>
<body>
    <h1>Envanter Düzenle</h1>
    <form action="{{ url_for('edit', id=inventory.id) }}" method="POST" enctype="multipart/form-data">
		<label>Envanter Adı:</label>
		<input type="text" name="name" value="{{ inventory.name }}" required><br>
	
		<label>Kategori:</label>
		<input type="text" name="category" value="{{ inventory.category }}"><br>
	
		<label>Bölüm:</label>
		<select name="department">
			<option value="Biyoloji">Biyoloji</option>
			<option value="Fen Fakültesi">Fen Fakültesi</option>
			<option value="Fizik">Fizik</option>
			<option value="Kimya">Kimya</option>
			<option value="Matematik">Matematik</option>
		</select><br>

		<label>Lokasyon/Oda:</label>
		<input type="text" name="location" value="{{ inventory.location }}" required><br>

		<label>Seri Numarası:</label>
		<input type="text" name="serial_number" value="{{ inventory.serial_number }}" required><br>
	
		<label>Zimmetlenen Kişi:</label>
		<input type="text" name="assigned_to" value="{{ inventory.assigned_to }}"><br>
	
		<label>Durum:</label>
		<select name="status">
			<option value="Depoda">Depoda</option>
			<option value="Kullanımda">Kullanımda</option>
			<option value="Arızalı">Arızalı</option>
		</select><br>

		<label>Notlar:</label>
		<input type="text" name="notes" value="{{ inventory.notes }}"><br>

		<label>Satın Alma Tarihi:</label>
		<input type="date" name="purchase_date" value="{{ inventory.purchase_date }}"><br>

		<label>Satın Alma Fiyatı:</label>
		<input type="text" name="purchase_price" value="{{ inventory.purchase_price }}"><br>
	
		<label>Garanti Bitiş Tarihi:</label>
		<input type="date" name="warranty_end" value="{{ inventory.warranty_end }}"><br>

		<label>Satın Alındığı Firma / Marka:</label>
		<input type="text" name="supplier" value="{{ inventory.supplier }}"><br>

		<label>Bakım Gereksinimi:</label>
		<input type="text" name="maintenance_required" value="{{ inventory.maintenance_required }}"><br>
 
		{% if inventory.image_filename %}
			<img src="{{ url_for('uploaded_file', filename=inventory.image_filename) }}" alt="Envanter Resmi" width="300">
		{% endif %}

 		<br><label>Resim Değiştir:</label>
		<input type="file" name="image" accept="image/*"><br>

        <input type="submit" value="Güncelle">

    </form>
    <a href="{{ url_for('admin') }}">Geri</a>
</body>
</html>
{% endblock %}

